.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
  padding-top: 20px; 
}

.imgCroixRouge {
  width: 75x;
  height: 75px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addButton {
  position: absolute;
  right: 0px;
  padding: 10px;
  margin: 10px;

}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 20px;
  padding: 10px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: medium solid #000000;
}

td,
th {
  border: thin solid #fe0000;
}

form {
  text-align: left;
  display: inline-block;
  padding: 10px;
}

label {
  text-align: left;
  display: inline-block;
  width: 10em;
}

.LinkButtonImg {
  z-index: -1;
  width:400px;
  height: 240px;
  border-radius: 10px;
  opacity: 0.6;
  border-inline-style: solid;
  border-color : white;
  filter: blur(2px);
}

.LinkButtonImg:hover {
  opacity: 0.75;
  scale: 1.1;
  filter: blur(0px);
}

.LinkButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.LinkButtonText {
  width: 100%;
  padding-top: 55px;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  z-index: 99;
}

.WelcomePannelContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;

  position: relative;
  margin: 20px;
  width: 100%;
  height: 100%;
}

.firstItem {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  width: 100%;
  padding: 4px; 
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.item {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  width: 100%;
  padding: 4px;
}

.lastItem {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  width: 100%;
  padding: 4px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.addUpdateContainer {
  border: 6px solid black;
  border-radius: 10px;
  padding-right: 10px;
  background-color: none;
  z-index: 1;
  position: relative;
}

.addUpdateForm {
  padding-top: 40px;
}

.addUpdateInput {
  width: 175px;
  display: flex;
}