.header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding-top: 20px;
}

.imgCroixRouge {
  width: 75x;
  height: 75px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addButton {
  position: absolute;
  right: 0px;
  padding: 10px;
  margin: 10px;

}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 20px;
  padding: 10px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: medium solid #000000;
}

td,
th {
  border: thin solid #fe0000;
}

form {
  text-align: left;
  display: inline-block;
  padding: 10px;
}

label {
  text-align: left;
  display: inline-block;
  width: 10em;
}